<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <div class="message">
            <p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se aqui</a></p>
        </div>
    </div>
</body>
</html>
