<!DOCTYPE html>
<html>
<head>
    <title>Car Form</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cars/css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'global/images/car.png' %}">
</head>
<body>
    <header class="header">
        <h1>Car Management</h1>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        {% endif %}
    </header>
    <div class="container">
        <h2>{{ form.instance.pk|yesno:"Edit Car,Add New Car" }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>
