<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Cars</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'global/images/car.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cars/css/styles.css' %}">
</head>
<body>
    <h1>Hello krl</h1>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>
