<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Car List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cars/css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'global/images/car.png' %}">
</head>
<body>
    <header class="header">
        <h1>Car Management</h1>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </header>
    <div class="container">
        <h2>Car List</h2>
        <a href="{% url 'car_create' %}" class="add-car-button">Add New Car</a>
        <ul class="item-list">
            {% for car in cars %}
            <li>
                {{ car.year }} {{ car.make }} {{ car.model }} - 
                <a href="{% url 'car_update' car.pk %}">Edit</a> | 
                <a href="{% url 'car_delete' car.pk %}">Delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
