@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

/* Header */
.header {
    background: #fff;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header h1 {
    font-size: 2em;
    margin: 0;
}

.header .logout-form {
    margin: 0;
}

.header .logout-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #d9534f;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.header .logout-button:hover {
    background: #c9302c;
}

/* Container */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    box-sizing: border-box;
    margin: 100px auto 20px auto; /* Ajustar para compensar o cabeçalho fixo */
    text-align: center;
}

/* Heading */
h1, h2 {
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

form input, form select, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #5cb85c;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

form button:hover {
    background: #4cae4c;
}

/* Add Car Button */
.add-car-button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: #5cb85c;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.add-car-button:hover {
    background: #4cae4c;
}

/* Cancel Button */
.cancel-button {
    font-size: 0.8em;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background: #d9534f;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.cancel-button:hover {
    background: #c9302c;
}

/* Messages */
.message {
    text-align: center;
    margin-top: 20px;
}

.message a {
    color: #5cb85c;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

/* Feedback Styles */
.success-message, .error-message {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.success-message {
    background: #dff0d8;
    color: #3c763d;
}

.error-message {
    background: #f2dede;
    color: #a94442;
}

/* List Styles */
ul.item-list {
    list-style: none;
    padding: 0;
}

ul.item-list li {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.item-list li:hover {
    background: #f1f1f1;
}

ul.item-list li a {
    color: #5cb85c;
    text-decoration: none;
    margin: 0 5px;
}

ul.item-list li a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header h1 {
        margin-bottom: 10px;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    form input, form select, form textarea {
        width: calc(100% - 12px);
    }
}
