@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    background-color: #f4f4f4;
}


.header {
    background: #fff;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header h1 {
    font-size: 2em;
    margin: 0;
}

.header .logout-form {
    margin: 0;
}

.header .logout-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #d9534f;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.header .logout-button:hover {
    background: #c9302c;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header h1 {
        margin-bottom: 10px;
    }
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    box-sizing: border-box;
    margin: 100px auto 20px auto; 
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #5cb85c;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

form button:hover {
    background: #4cae4c;
}

.message {
    text-align: center;
    margin-top: 20px;
}

.message a {
    color: #5cb85c;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}
